
@{
    ViewData["Title"] = "Apply";
}

<div class="bg">
    <br />
    <h1 style="text-align:center;margin-bottom:5%">部门纳新申请</h1>
    <table style="width:70%;margin-left:15%;margin-bottom:5%" class="table table-bordered">
        <caption>已加入的部门</caption>
        <thead>
            <tr>
                <th>部门名称</th>
                <th>主页</th>
                <th>纳新人数</th>
                <th>面试地点</th>
                <th>面试时间</th>
                <th>是否参加</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>部门A</td>
                <td>link</td>
                <td>21</td>
                <td></td>
                <td></td>
                <td>是</td>
            </tr>
            <tr>
                <td>部门B</td>
                <td>link</td>
                <td>32</td>
                <td></td>
                <td></td>
                <td>否</td>
            </tr>
            <tr>
                <td>部门C</td>
                <td>link</td>
                <td>12</td>
                <td></td>
                <td></td>
                <td>是</td>
            </tr>
        </tbody>
    </table>
    <button style="margin-left:47%;margin-bottom:20%" class="btn btn-primary">确定申请</button>
</div>

