@model Depart

@{
    ViewData["Title"] = "编辑资料";
}
<div class="bg">
    <br />
    <h1 style="text-align:center;margin-bottom:5%">编辑部门资料</h1>
    <form asp-action="EditD">
        <div style="padding-bottom:10%" class="row">
            <div style="padding-left:20%" class="col-md-6">
                <input type="hidden" asp-for="ID" />
                <input type="hidden" asp-for="Email" />
                <label style="margin-left:1%">姓名</label>
                <input asp-for="Name" style="margin-bottom:3%;width:60%" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
                <label style="margin-left:1%">部长</label>
                <input asp-for="Minster" class="form-control" />
                <span asp-validation-for="Minster" class="text-danger"></span>
                <label style="margin-left:1%">副部</label>
                <input asp-for="Vice" class="form-control" />
                <span asp-validation-for="Vice" class="text-danger"></span>
                <label style="margin-left:1%">社团交流QQ群</label>
                <input asp-for="QQ" class="form-control" />
                <span asp-validation-for="QQ" class="text-danger"></span>
                <label style="margin-left:1%">社团简介</label>
                <textarea rows="15" style="margin-bottom:3%;width:60%" asp-for="Introduction" class="form-control"></textarea>
                <span asp-validation-for="Introduction" class="text-danger"></span>
            </div>
            <div style="padding-left:7%" class="col-md-6">
                <img src="~/images/picture.png" style="margin-bottom:5%" class="img-rounded">
                <img src="~/images/picture.png" style="margin-left:15%;margin-bottom:5%" class="img-rounded"><p />
                <text style="font-size:20px;margin-left:5%">部门标志</text>
                <text style="font-size:20px;margin-left:25%">部门活动</text><p />
                <button type="submit" style="margin-left:22%;margin-top:20%;" class="btn btn-primary">确定修改</button>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>
        </div>
    </form>
</div>

