@model IndexDViewModel
@{
    ViewBag.Title = "部门主页";
    Layout = "_LayoutD";
}

<header>
    <h1>
        欢迎回到 @Model.Dname 
        <span>目前社团共有 @Model.Mnum 个人，有 @Model.Anum 个纳新申请</span>
    </h1>
</header>

