@model Depart
@{
    ViewBag.Title = "社团资料";
    Layout = "_LayoutD";
}

<div style="margin-left: 40%; margin-top: 10%">
    <form method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <input type="hidden" asp-for="Email" />
        <input type="hidden" asp-for="PictureNum" />
        <img style="margin-left: 10%;width:144px;height:144px" src="~/images/Departments/@Model.ID/picture.jpg" class="img-rounded">
        <p>
            <lable> 名&emsp;&emsp;称：</lable>
            <input asp-for="Name" type="text">
        </p>
        <p>
            <lable> 部&emsp;&emsp;长：</lable>
            <input asp-for="Minster" type="text">
        </p>
        <p>
            <lable>副&emsp;&emsp;部：</lable>
            <input asp-for="Vice" type="text">
        </p>
        <p>
            <lable>交流Q群： </lable>
            <input asp-for="QQ" type="text">
        </p>
        <p>
            <lable>部门标志：</lable>
            <input type="file" name="file">
        </p>
        <p>
            <lable>活动照片：</lable>
            <input type="file" name="files" multiple>
        </p>
        <p>
            <lable for="introduce">社团简介：</lable>
            <textarea asp-for="Introduction" rows=5 cols=60>  </textarea>
            <span asp-validation-for="Introduction" class="text-danger"></span>
        </p>
        <p>
            <input style="margin-left:20%" type="submit" value="提交">
        </p>
    </form>
    <br>
    <br>
    <br>
</div>

