
@{
    ViewData["Title"] = "NewMember";
}

<div class="bg">
    <br />
    <h1 style="text-align:center;margin-bottom:5%">发布纳新</h1>

    <div style="padding-left:38%">
        <input style="margin-bottom:3%;width:40%" class="form-control" value="面试时间：" />
        <input style="margin-bottom:3%;width:40%" class="form-control" value="面试地点：" />
        <input style="margin-bottom:3%;width:40%" class="form-control" value="纳新人数：" />
        <text style="margin-bottom:3%;margin-left:1%">发布范围</text>
        <select style="margin-left:5%">
            <option>2015级</option>
            <option>2016级</option>
            <option>2017级</option>
        </select>
        <select style="margin-left:5%">
            <option>计算机学院</option>
            <option>土木工程学院</option>
            <option>化学学院</option>
        </select>
        <p />
        <button style="margin-left:15%; margin-top:8%;margin-bottom:30%" class="btn btn-primary">确定发布</button>
    </div>
</div>
