@model ShowDViewModel
@{
    ViewBag.Title = "部门详情";
    Layout = "_LayoutS";
}

<br/>
    <h1 style="text-align:center;margin-bottom:3%">欢迎来到 @Model.Department.Name</h1>
    
    <center>
        <div class="box" style="margin-top:50px;">
            <div class="picbox">
                <ul class="piclist mainlist">
                    @for (int i = 0; i < Model.Department.PictureNum; i++)
                    {
                        <li><a href="#" target="_blank"><img src="~/images/Departments/@Model.Department.ID/@i+.jpg" style="width:220px;height:105px" /></a></li>
                    }
                </ul>
                <ul class="piclist swaplist"></ul>
            </div>
            <div class="og_prev"></div>
            <div class="og_next"></div>
        </div>
    </center>

    <div style="margin-left:43%">
        <p><text style="margin-bottom:3%;width:70%;" class="form-control">部长：@Model.Department.Minster</text></p>
        <p><text style="margin-bottom:3%;width:70%" class="form-control">副部：@Model.Department.Vice</text></p>
        <p><text style="margin-bottom:3%;width:70%" class="form-control">社团交流QQ群：@Model.Department.QQ</text></p>
        <p>
            简介：
            <textarea rows="8" class="form-control">@Model.Department.Introduction</textarea>
        </p>

        <form asp-action="ShowD">
            <div>
                <div style="margin-top:3%" class="checkbox">
                    <label>
                        <input type="hidden" asp-for="Department" />
                        <input type="hidden" asp-for="Sid" />
                        <input type="hidden" asp-for="Aid" />
                        <input type="hidden" asp-for="Did" />
                        <label asp-for="Duty"></label>
                        <select asp-for="Duty">
                            <option value="">@Model.Duty</option>
                            <option value="部员">部员</option>
                            <option value="副部">副部</option>
                            <option value="部长">部长</option>
                        </select>
                        <input asp-for="Enabled" /> @Html.DisplayNameFor(model => model.Enabled)
                    </label>
                </div>
            </div>
            <button type="submit" style="margin-left:8%;margin-top:3%" class="btn btn-default">确定</button>
        </form>
    </div>

