@{
    ViewData["Title"] = "联系";
    Layout = "_Layout";
}
<h3>@ViewData["Message"]</h3>



<address>
    <strong>后端：</strong>俞鋆   <a href="mailto:Support@example.com">yujohn1997@gmail.com</a><br />
    <strong>前端：</strong>周元   <a href="mailto:Marketing@example.com">2533561730@qq.com</a>
</address>
