
@{
    ViewData["Title"] = "Edit";
}
<div class="bg">
    <br/>
    <h1 style="text-align:center;margin-bottom:5%">个人资料完善</h1>
    <div class="row">
        <div style="padding-left:26%" class="col-md-6">
            <input style="margin-bottom:3%;width:60%" class="form-control" value="姓名：" />
            <input style="margin-bottom:3%;width:60%" class="form-control" value="性别：" />
            <input style="margin-bottom:3%;width:60%" class="form-control" value="学号：" />
            <input style="margin-bottom:3%;width:60%" class="form-control" value="年级：" />
            <input style="margin-bottom:3%;width:60%" class="form-control" value="学院：" />

        </div>
        <div style="padding-left:10%" class="col-md-6">
            <img src="~/images/picture.png" style="margin-bottom:3%" class="img-rounded"><p />
            <text style="font-size:20px;margin-left:8%">头像</text>
        </div>
    </div>
<textarea rows="10" style="margin-left:25.5%;margin-bottom:3%;width:50%" class="form-control">特长简介：</textarea>
    <button style="margin-left:49%;margin-bottom:5%" class="btn btn-primary">提交</button>
</div>
