
@{
    ViewData["Title"] = "Index1";
}
<div class="bg">
    <br/>
    <h1 style="text-align:center;margin-bottom:5%">欢迎来到部门A</h1>
    <div  class="row">
        <div style="padding-left:25%;margin-bottom:20%;" class="col-md-6">
            <text style="margin-bottom:3%;width:70%;" class="form-control"  >部长：</text>
            <text style="margin-bottom:3%;width:70%" class="form-control"  >副部：</text>
            <textarea  rows="10"  style="width:70%" class="form-control">简介：</textarea>
        </div>
        <div class="col-md-6">
            <img src="~/images/picture.png" style="margin-left:30%;margin-bottom:5%" class="img-circle"><p/>
            <button style="margin-left:22%;" class="btn btn-primary">发布纳新</button>
            <button style="margin-left:10%;" class="btn btn-primary">发布活动</button><p/>
            <button style="margin-left:22%;margin-top:6%"  class="btn btn-primary">编辑资料</button>
            <button style="margin-left:10%;margin-top:6%"  class="btn btn-primary">查看申请</button>
        </div>
    </div>
</div>

