
@{
    ViewData["Title"] = "Index2";
}

<div style="padding-bottom:10%" class="bg">
    <br/>
    <div style="margin-top:5%;margin-bottom:5%" class="row">
        <div style="padding-left:10%" class="col-md-3">
            <img style="margin-bottom:3%;margin-left:5%" src="~/images/picture.png" class="img-rounded">
            <text style="margin-bottom:3%;width:80%" class="form-control">姓名：周元</text>
            <text style="margin-bottom:3%;width:80%" class="form-control">性别：男</text>
            <text style="margin-bottom:3%;width:80%" class="form-control">学号：051503223</text>
            <text style="margin-bottom:3%;width:80%" class="form-control">年级：2015级</text>
            <text style="margin-bottom:3%;width:80%" class="form-control">学院：数计学院</text>
        </div>
        <div class="col-md-6">
            <table class="table table-bordered">
                <caption>已加入的部门</caption>
                <thead>
                    <tr>
                        <th>部门名称</th>
                        <th>部门职责</th>
                        <th>部门人数</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>部门A</td>
                        <td>部员</td>
                        <td>21</td>
                    </tr>
                    <tr>
                        <td>部门B</td>
                        <td>副部</td>
                        <td>32</td>
                    </tr>
                    <tr>
                        <td>部门C</td>
                        <td>部员</td>
                        <td>12</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div  class="col-md-3">
            <textarea rows="15" style="width:60%" class="form-control">部门活动通知：</textarea>
        </div>
    </div>
    <button style="margin-left:35%" class="btn btn-primary">完善个人信息</button>
    <button style="margin-left:10%" class="btn btn-primary">部门纳新申请</button>
</div>
