@model Department.Models.Application

@{
    ViewBag.Title = "编辑纳新";
    Layout = "_LayoutD";
}


<br />
<h1 style="text-align:center;margin-bottom:5%">编辑纳新</h1>

<div style="margin-left:42%; margin-top: 8%">
    <form style="padding-bottom:20%" asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <input type="hidden" asp-for="DepartID" />
        <p>
            <label>纳新人数：</label>
            <input asp-for="Count" />
            <span asp-validation-for="Count" class="text-danger"></span>
        </p>
        <p>
            <label>面试时间：</label>
            <input asp-for="Time" />
            <span asp-validation-for="Time" class="text-danger"></span>
        </p>
        <p>
            <label>截止时间：</label>
            <input asp-for="Blocktime" />
            <span asp-validation-for="Blocktime" class="text-danger"></span>
        </p>
        <p>
            <label>面试地点：</label>
            <input asp-for="Address" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </p>
        <text>发布范围</text>
        <select asp-for="Grade" style="margin-left:2%">
            <option value="">选择年级</option>
            <option value="大一">大一</option>
            <option value="大二">大二</option>
            <option value="大三">大三</option>
            <option value="大四">大四</option>
        </select>
        <select asp-for="Institute" style="margin-left:2%">
            <option value="">选择学院</option>
            <option value="电气工程与自动化">电气工程与自动化</option>
            <option value="机械工程及自动化">机械工程及自动化</option>
            <option value="数学与计算机科学">数学与计算机科学</option>
            <option value="土木工程">土木工程</option>
            <option value="环境与资源">环境与资源</option>
            <option value="生物科学与工程">生物科学与工程</option>
            <option value="外国语">外国语</option>
            <option value="物理与信息工程">物理与信息工程</option>
            <option value="建筑学院">建筑学院</option>
            <option value="紫金矿业">紫金矿业</option>
            <option value="厦门艺术美术">厦门艺术美术</option>
            <option value="材料科学与工程">材料科学与工程"</option>
        </select>
        <p />
        <span asp-validation-for="Grade" class="text-danger"></span>
        <span asp-validation-for="Institute" class="text-danger"></span>
        <p>
            <div style="margin-left:14%;margin-top:5%" class="checkbox">
                <label>
                    <input asp-for="Enabled" /> @Html.DisplayNameFor(model => model.Enabled)
                </label>
            </div>
        </p>
        <button type="submit" style="margin-left:13%; margin-top:2%" class="btn btn-primary">确定编辑</button>|
        <a asp-action="Index" asp-route-id="@Model.DepartID">返回</a>
    </form>
</div>


